@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}
:root{
    --primary-Desaturated-Red:hsl(0, 36%, 70%);
    --primary-soft-red:hsl(0, 93%, 68%);
    --neutral-Dark-Grayish-Red:hsl(0, 6%, 24%);
    --linear-deg:135deg;
    --linear1:hsl(0, 0%, 100%);
    --linear2:hsl(0, 100%, 98%);
    --linear3:hsl(0, 80%, 86%);
    --linear4:hsl(0, 74%, 74%)
;
    --font:'Josefin Sans',Sans-Serif;
}
html{
    font-size:calc(62.5% + 4px);
    
}
body{
    width: 100%;
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 5px;
    background: linear-gradient(var(--linear-deg),var(--linear1),var(--linear2));
    /*background-image: url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;*/
   
   
}
.header{
    width: 30%;
    padding: 1rem;
    
}
.hero img:last-child{
    display: none;
}
.content{
    padding: 2.3rem;
    text-align: center;
    font-family: var(--font);
    /*line-height: 1.2;*/
    
    
    
}
.content-title{
    font-size: 2.2rem;
    font-weight: 600;
    padding: 2rem 0;
    letter-spacing: 10px;
    text-transform: uppercase;
    color:var(--neutral-Dark-Grayish-Red);
    
    
}
.content-title span{
    display: block;
    font-weight: 300;
    line-height:1;
    color: var(--primary-Desaturated-Red);
}
.content p {
    line-height: 1.8;
    font-size: .98rem;
    font-weight: 600;
    color: var(--primary-Desaturated-Red);
}
form{
    position: relative;
    margin: 2.5rem 0;
    width: 100%;
    height: 45px;
    
}
form input{
    width: 100%;
    height: 100%;

    border: 1px solid var(--primary-Desaturated-Red);
    border-radius: 50px;
    padding-left:1rem;
}
form input::placeholder{
    color: var(--primary-Desaturated-Red);
    font-family: var(--font);
}
form input:focus{
    
    outline: none;
}
form button{
    position: absolute;
    top:0;
    right:0;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--linear-deg),var(--linear3),var(--linear4) );
    border: none;
    
    border-radius: 50px;
    cursor: pointer;
    
}
.error-icon{
    display: none;
    position: absolute;
    top: 24%;
    right: 22%;
    width: 25px;
    height: 25px;
    transition: all .5s;
}
.error-icon.show{
    display: block;
}
form button img{
    width: 20px;
    height: 20px;
    object-fit: cover;
}
@media (min-width:480px){
    .wrapper{
        grid-template-columns: 2fr 1.5fr;
        grid-template-rows: 20% 80%;
    }
    .header{
        grid-row: 1/2;
        grid-column: 1/2;
        
        
    }
    .content{
        grid-row: 2/3;
        grid-column: 1/2;
        text-align: left;
        padding: 2rem;
    }
    .hero{
        grid-column: 2/-1;
        grid-row: 1/3;
    }
    .hero img:last-child{
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .hero img:first-child{
        display: none;
    }
    
}